<script src="/script.js"></script>
        <script src="https://unpkg.com/typeit@8.0.2/dist/index.umd.js"></script>
        <script>
            new TypeIt("#desc", {
                strings: `<%= language.__("Intuicyjne strony zrobione z pasją.") %>`,
                speed: 75,
                loop: false,
            }).go();
        </script>
    </body>
</html>