<% include ./partials/headera %> 
                <div class="col-lg-6 col-md-12" id="form">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-12" style="margin-top: 20%">
                            <div id="form1">
                                <a href="/">
                                    <i class="fas fa-arrow-left"></i>
                                    Wróć do strony głównej
                                </a>
                                <h1 class="login">Logowanie do panelu</h1>
                                <% if(error.length > 0){ %>
                                    <div class="alert alert-danger" role="alert">
                                        <%= error %>
                                    </div>
                                <% } %>
                                <% if(success.length > 0){ %>
                                    <div class="alert alert-success" role="alert">
                                        <%= success %>
                                    </div>
                                <% } %>
                                <form action="/login?return_route=<%= return_route %>" method="post">
                                    <div class="form-floating mb-3">
                       
                                        <input type="text" class="form-control" autocomplete="off" name="username" id="username" placeholder="h" aria-label="Hasło" aria-describedby="basic-addon1">
                                        <label for="username" class="username">
                                            Nazwa użytkownika
                                            
                                        </label>
                                        
                                    </div>
                                    
                                    
                                    <div class="form-floating mb-3">
                       
                                        <input type="password" class="form-control" autocomplete="off" name="password" id="password" placeholder="1234" aria-label="Hasło" aria-describedby="basic-addon1">
                                        <label for="password" class="username">
                                            Hasło
                                            
                                        </label>
                                        
                                    </div>
                                    <input type="submit" value="Zaloguj się" class="btn btn-primary button">
                                   
                                </form>
                            </div>
                           
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
<%- include("partials/footera") %>
