<% include ../partials/headera %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 10%">
            <div id="form1">
                <a href="/about">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony O mnie
                </a>
                <h1 class="login">Dodaj osiągnięcie dla użytkownika <%= user.username %></h1>
                <% if(error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>
                <form action="/about/<%= user._id %>/achievements" method="post" enctype="multipart/form-data">
                    
                    <div class="form-floating mb-3">
                       
                        <input type="text" name="title" id="title" autocomplete="off" placeholder="Tytuł osiagnięcia" class="form-control">
                        <label for="description" class="username">
                            Tytuł osiągnięcia
                            
                        </label>
                        
                    </div>
                   
                    <div class="form-floating mb-3">
                       
                        <input type="text" name="titleEn" id="titleEn"  autocomplete="off" placeholder="Tytuł osiagnięcia angielski" class="form-control">
                        <label for="description" class="username">
                            Tytuł osiągnięcia po angielsku
                            
                        </label>
                        
                    </div>
                    <p class="username">
                        Zdjęcie osiągnięcia
                    </p>
                    <input type="file" name="picture" style="color:#c9c7c7">
                    <br>
                    <br>
                    <input type="submit" value="Dodaj osiągnięcie" class="btn btn-primary button">
                </form>
            </div>
        </div>

    </div>
</div>
<%- include("../partials/footera") %>