<% include ../partials/headera %>
<div class="col-lg-6 col-md-12" id="form" style="height: 100%">
	<div class="row justify-content-center">
		<div class="col-lg-8 col-md-12" style="margin-top: 5%">
			<div id="form1">
				<a href="/">
					<i class="fas fa-arrow-left"></i>
					Wróć do strony głównej
				</a>
				<h1 class="login">Dodaj nowy projekt</h1>
				<% if(error.length > 0){ %>
					<div class="alert alert-danger" role="alert">
						<%= error %>
					</div>
				<% } %>
				
				<form action="/projects" method="post" enctype="multipart/form-data">
				   
					
					<div class="form-floating mb-3">
                       
						<input type="text" autocomplete="off" id="title" name="title" placeholder="np. Portfolio" class="form-control">
						<label for="title" class="username">
							Tytuł projektu
							
						</label>
						
					</div>
					
					
					<div class="form-floating mb-3">
                       
						<textarea name="description" placeholder="np. Fajny, dla mojego przyjaciela" id="description" class="form-control"></textarea>
						<label for="description" class="username">
							Opis projektu
							
						</label>
						
					</div>
					
					
					<div class="form-floating mb-3">
                       
						<textarea name="english" placeholder="np. Good, for my friend" id="english" class="form-control"></textarea>
						<label for="english" class="username">
							Opis projektu po angielsku
							
						</label>
						
					</div>
					
					
					<div class="form-floating mb-3">
                       
						<input type="text" autocomplete="off" id="status" name="status" placeholder="np. Tylko poprawki" class="form-control">
						<label for="status" class="username">
							Status projektu
							
						</label>
						
					</div>
					
					
					<div class="form-floating mb-3">
                       
						<input type="text" autocomplete="off" id="statusEn" name="statusEn" placeholder="np. Just fixes" class="form-control">
						<label for="statusEn" class="username">
							Status projektu po angielsku
							
						</label>
						
					</div>
					
					
					<div class="form-floating mb-3">
                       
						<input type="text" autocomplete="off" id="link" name="link" placeholder="np. https://danmag.herokuapp.com" class="form-control">
						<label for="link" class="username">
							Link projektu
							
						</label>
						
					</div>
					
					
					<div class="form-floating mb-3">
                       
						<select name="type" id="type" class="form-select">
							
							<option value="not-ended" style="color:black">Nieskończony</option>
							<option value="awaiting" style="color:black">Oczekujący</option>
							<option value="done" style="color:black">Skończony</option>
						</select>
						<label for="type" class="username">
							Typ projektu
						</label>
						
					</div>
					<label for="password" class="username">
						Zdjęcie główne projektu
						
					</label>
					<input type="file" name="profile" style="color:#c9c7c7">
					<br>
					<br>
				
					<input type="submit" value="Dodaj projekt" class="btn btn-primary button">
				   
				</form>
			</div>
		   
		</div>
		
	</div>
</div>
        
            
           
<%- include("../partials/footera") %>